.hero-image{
  background-image: url("../Image/h-sendinblue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.hero-image1{
  background-image: url("../Image/zappos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
}

.hero-image2{
  background-image: url("../Image/prime.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
}

.hero-image3{
  background-image: url("../Image/expedia.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
}
.hero-image4{
  background-image: url("../Image/lifestyle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  display: flex;
  justify-content: center;
}